{% extends "layout.twig" %}

{% block topic %}
    Overview
{% endblock %}

{% block content %}

    <form role="form" method="POST" action="{{ app.url_generator.generate('select.branches') }}">
        <div class="col-md-12">

            {% include 'issue/table.twig' with {'issues': issues, 'selection': selected_branches} %}

        </div>
        <div class="col-md-12 text-right">
            <input type="submit" class="btn btn-sm btn-danger" value="delete">
        </div>
    </form>

{% endblock %}